{% extends 'movies/base.html' %}

{% block content %}
    {% if not user.is_authenticated %}
        <section class="pt-5 text-start">
            <div class="container">
                <div class="d-sm-flex align-items-center justify-content-between">
                    <div>
                        <h1>Welcome to <span class="text-primary">Discover Your Next Watch with Ease</span></h1>
                        <p>Can't pick a title for a movie night? Let <span class="fw-semibold">Movie Shuffle</span> suggest one from your collected watchlist!</p>
                        <p>Collect your favorite movies and TV series in one place and let our app surprise you with a randomized pick from your watchlist. Apply filters to match your mood, and enjoy a new discovery every time!</p>
                        <div class="d-sm-flex align-items-center">
                            <a class="nav-link border border-primary bg-primary text-light rounded-2 me-2 py-2 px-3" href="{% url 'login' %}" id="login-link">Log In</a>
                            <a class="nav-link border border-dark rounded-2 py-2 px-3" href="{% url 'signup' %}" id="sign-up-link">Sign Up</a>
                        </div>
                    </div>
                    {% load static %}
                    <img src="{% static 'img/cinema.svg' %}" alt="Home cinema" class="img-fluid w-50 d-none d-sm-block">
                </div>
            </div>
        </section>
    {% else %}
        <h1>Greetings, {{ user.username }}!</h1>
    {% endif %}
{% endblock %}