{% extends 'movies/base.html' %}

{% block title %}My Watchlist | {% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center mb-3">
            <div class="col-md-8 col-lg-6">
                <div class="d-flex">
                    <form class="input-group" action="" method="get">
                        <input name="search" type="text" class="form-control" aria-label="Text input with segmented dropdown button" placeholder="Search for title" value="{% if prev_query %}{{ prev_query }}{% endif %}">
                        {% for selected_genre in selected_genres %}
                            <input type="hidden" name="genre" value="{{ selected_genre }}">
                        {% endfor %}
                        <input type="hidden" name="year_order" value="{% if year_ordering %}{{ year_ordering }}{% else %}descending{% endif %}">
                        <button type="submit" class="btn btn-outline-secondary">Search</button>
                    </form>
                    <a class="btn btn-outline-success ms-2" style="white-space: nowrap;" href="{% url 'add-new' %}" id="add-new-button">Add New</a>
                </div>
            </div>
        </div>
        <form class="row justify-content-center mb-3" action="" method="get">
            <div class="d-flex justify-content-between justify-content-sm-start col-md-8 col-lg-6">
                {% if prev_query %}
                    <input type="hidden" name="search" value="{{ prev_query }}">
                {% endif %}
                <div class="dropdown">
                    <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Genres
                    </button>
                    <ul class="dropdown-menu px-2">
                        {% for genre in genres %}
                            <li>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="{{ genre.pk }}" id="genreCheck{{ genre.pk }}" name="genre" {% if genre.id in selected_genres %}checked{% endif %}>
                                    <label class="form-check-label" for="genreCheck{{ genre.pk }}" onclick="event.stopPropagation();">{{ genre.name }}</label>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="ms-2">
                    <input type="hidden" name="year_order" id="releaseYearInput" value="{% if year_ordering %}{{ year_ordering }}{% else %}descending{% endif %}">
                    <button type="button" class="btn btn-success" id="releaseYearButton" onclick="ChangeYearOrdering()">Release Year {% if year_ordering == 'ascending' %}<i class="bi bi-chevron-double-up"></i>{% else %}<i class="bi bi-chevron-double-down"></i>{% endif %}</button>
                </div>
                <button type="submit" class="btn btn-outline-success ms-2" style="white-space: nowrap;">Apply Filters</button>
                <a  class="d-flex align-items-center justify-content-center btn btn-outline-secondary ms-2" href="{% url 'watchlist' %}">Reset</a>
            </div>
        </form>
        <div class="d-flex flex-column justify-content-center">
        {% if movies %}
            {% for movie in movies %}
                <div class="card mb-3 col-md-8 col-lg-6 mx-auto overflow-hidden">
                    <div class="row g-0">
                        <div class="col-md-4">
                        {% load static %}
                        <img src="{% if movie.poster %}{{ movie.poster.url }}{% else %}{% static 'img/cinema.svg' %}{% endif %}" class="img-fluid" alt="Poster" loading="lazy">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body d-flex flex-column h-100">
                            <div class="mb-4">
                                <h5 class="card-title">{{ movie.title }}</h5>
                                {% if movie.description %}
                                    <p class="card-text">{{ movie.description }}</p>
                                {% endif %}
                                <p class="card-text mb-0"><small class="text-body-secondary">Genres: {{ movie.genre_list }}</small></p>
                                <p class="card-text"><small class="text-body-secondary">Released: {{ movie.release_year }}</small></p>
                            </div>

                            <form action="" method="post" class="mt-auto">
                                {% csrf_token %}
                                <input type="hidden" name="movie_id" value="{{ movie.imdb_id }}">
                                <button type="submit" class="btn btn-outline-danger">Remove</button>
                            </form>
                        </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center">No titles were found</p>
        {% endif %}
        </div>

        {% if movies.paginator.num_pages != 1 %}
            {% load movies_extra %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if movies.has_previous %}
                        <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode|exclude_page_param }}&page=1">First</a></li>
                    {% endif %}
                    
                    {% for i in closest_pages %}
                        {% if i == movies.number %}
                            <li class="page-item active" aria-current="page">
                                <span class="page-link">{{ i }}</span>
                            </li>
                        {% else %}
                            <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode|exclude_page_param }}&page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    
                    {% if movies.has_next %}
                    <li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode|exclude_page_param }}&page={{ movies.paginator.num_pages }}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        {% endif %}
    </div>

    <script>
        function ChangeYearOrdering() {
            var input = document.getElementById('releaseYearInput');
            var button = document.getElementById('releaseYearButton');

            input.value = input.value === 'descending' ? 'ascending' : 'descending';
            if (input.value === 'ascending') {
                button.innerHTML = 'Release Year <i class="bi bi-chevron-double-up"></i>';
            }
            else {
                button.innerHTML = 'Release Year <i class="bi bi-chevron-double-down"></i>';
            }
        }
    </script>
{% endblock %}